
.img-fluid{
    transition: 0.5s all; 
    background-color:black;
    transition: all 0.50s linear;
}


.img-fluid:hover{
    background-color: black;
    opacity: 0.8;
    text-decoration: none;
    transform: scale(1.1);
    
}