
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
*{
    margin: 0;
    padding: 0;
}
/* ------------- Mis variables----------- */
:root {
    --color_banner_primero2:#169ff4;
}
/*********************************************/


/*********************************************/

/*********************************************/
/*********************************************/
.banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: -55px;
  }
  
  .banner img {
    width: 50%;
    max-width: 150%;
    margin-top: 0rem;
    object-fit: cover;
  }
  
  .banner .content {
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding: 3% 4%;
  }
  
  
  .banner .content h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #6A27B5;
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
  
  .banner .content p {
    transform: translate(45%, 10%);
    width: 55%;
    color: #6A27B5;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }
  
  @media (max-width: 810px) {
    .banner {
      margin-top: -80px;
      flex-direction: column;
    }

    .banner img {
      width: 100%;
    }
    .banner .content {
      text-align: center;
      max-width: 200%;
      padding: 0%;
    }
    
    .banner .content h1 {
      margin-top: 2rem;
      margin-bottom: 0;
      margin:auto;
    }
  
    .banner .content p {
      width: 200%;
      transform: translate(5%, 0%);
    }
  }

@media (max-width: 1100px) {
    
    
    .banner .content {
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 2rem;
    }
    
    .banner .content p {
      width: 90%;
      text-align: center;
      transform: translate(5%, 0%);
    }
  }
/* ---------------------------------------- */
/*********************************************/    
.conten{
  background-color: #6a27b5;
}

  /* TEXTO DESPUES DEL TITULO NUESTRO VALORES*/
  .valores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
  }
  
  .valores1 p {
    max-width: 700px;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  

  /* ---------------------------------------- 
     VALORES 
   /* ---------------------------------------- */

  
  /* Media queries */

  #titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #titulo h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }

  .container {
    color: #ffffff;
    height: 400px;
    display: flex;
		flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  .container .img {
    margin-left: 13%;
    display: flex;
    flex-wrap: wrap;
  }

  .container .img img{
    margin-top: -2%;
    display: flex;
		flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  
  .container .tit {
    display: flex;
		flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    flex-basis: 17%;
  }
  
  .container .con{
    flex-basis: 71%;
  }

  .a{
    margin-left: 8px;
  }
  .e{
    margin-left: -8px;
  }
  .f{
    margin-left: 18px;
  }

@media (max-width: 1399px) {
  .container .img {
    margin-left: 8%;
  }
  .e{
    margin-left: -4px;
  }
}

@media (max-width: 1199px) {
  .container .img {
    margin-left: 1%;
  }
  .a, .b, .c, .e {
    margin-left: 15px;
  }
  .f{
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .container {
    height: 900px;
  }
  
  .container .img img{
    margin-left: 42%;
    margin-top: 0%;
  }
  .container .tit {
    margin-left: 15px;
    flex-basis: 95%;
  }
  .container .con{
    flex-basis: 100%;
  }
  .f{
    margin-left: 15px;
  }
}

@media (max-width: 460px) {
  .container {
    height: 1000px;
  }
  .container .img img{
    margin-left: 40%;
    margin-top: 0%;
  }
  .container .img {
    margin-left: 1%;
  }
  
  .container .tit {
    margin-left: 1%;
  }

  .a, .b, .c, .e, .f {
    margin-left: 1%;
  }
}
@media (max-width: 338px) {
  .container {
    height: 1170px;
  }
}